$fullscreen-columns: 12;
$tablet-columns: 8;
$mobile-columns: 4;

$fullscreen-gap: 20px;
$tablet-gap: 15px;
$mobile-gap: 30px;

$container-max-width: 1140px;
$container-max-width-mobile: 390px;

$backgroundPurple: linear-gradient(rgb(133, 100, 187) 0%, rgb(102, 44, 197) 85%);
$purple: rgb(102, 44, 197);
$backgroundOrange: radial-gradient(rgb(245, 194, 146) 25%, rgb(241, 150, 65) 85%);
$ubuntu: "Ubuntu", sans-serif;
$background: #1A173D;
$white: #FFFFFF;
$righteous: "Righteous", sans-serif;
$mainOrange: #E25300;
$header1Text: 70px;
$header2Text: 48px;
$header3Text: 36px;
$titleText: 24px;
$innerText: 18px;
$innerSmallText: 16px;
$buttonText: 20px;
$buttonSmallText: 16px;