.container {
    display: grid;
    grid-template-columns: repeat($mobile-columns, 1fr);
    gap: $mobile-gap;
    max-width: $container-max-width-mobile;
    margin: 0 auto;
    padding: $mobile-gap;

    .span-6 {
        grid-column: span 4;
    }
}

@media (min-width: 720px) {
    .container {
        grid-template-columns: repeat($tablet-columns, 1fr);
        gap: $tablet-gap;
        padding: $tablet-gap;
        max-width: 720px;

        .span-6 {
            grid-column: span 8;
        }

        .span-3 {
            grid-column: span 3;
        }

        .span-5 {
            grid-column: span 5;
        }
    }
}

@media (min-width: 1140px) {
    .container {
        grid-template-columns: repeat($fullscreen-columns, 1fr);
        gap: $fullscreen-gap;
        padding: $fullscreen-gap;
        max-width: 1140px;

        .span-6 {
            grid-column: span 12;
        }

        .span-3 {
            grid-column: span 4;
        }

        .span-5 {
            grid-column: span 8 ;
        }
    }
}